<div>
  
  <p>
    Hi, I'm <strong>Ashish</strong>. I'm a student at Bergen County Technical High Schools Teterboro. Read more on my blog.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
